/* fundo #1C1F24  */
/* vermelho #E84A33 */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #1C1F24;
}
nav{
    /* border: 1px solid rgb(255, 0, 0); */
    /* border-bottom: 0.5px solid rgb(255, 255, 255); */
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    width: 90%;
    height: 80px;
    justify-content: space-between;
    align-items: center;
}
.logo{
    /* border: 1px solid black; */
    margin-left: 5%;
    color: white;
    text-transform: uppercase;
    font-family: 'Inter', sans-serif;
}

.links{
    /* border: 1px solid green; */
    margin-right: 5%;
    justify-content: center;
}
.links ul li{
    display: inline-block;
    padding: 20px;
    transition: .2s ease-in-out;
}
.links a{
    font-family: 'Inter', sans-serif;
    color: white;
    text-decoration: none;
}
.links ul li:hover{
    transform: scale(1.1);
    padding: 15px;
   border-bottom:2px solid #A61C1C;
}
.btn-nav{
    display: flex;
    width: 90px;
    height: 40px;
    margin-right: 10%;
    background-color: #A61C1C;
    justify-content: center;
    transition: .3s;
}
.btn-nav:hover{
    transform: scale(1.2);
}
.btn-login{
    font-family: 'Inter', sans-serif;
    color: white;
    border: none;
    outline: none;
    background-color: transparent;
    align-items: center;
}
/* nav */

/* main */





/* main */
